<!--
  Generated template for the JogarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Campanhas</ion-title>
  </ion-navbar>

</ion-header>


<!-- <ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let campanha of Campanhas">
      <ion-col>
        <button ion-button>{{ campanha }}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->

<ion-content>
  <ion-list radio-group>
    <ion-list-header>
      Campanhas
    </ion-list-header>

    <ion-item *ngFor="let campanha of Campanhas">
      <ion-label>{{ campanha }}</ion-label>
      <ion-radio checked="false" ></ion-radio>
    </ion-item>

    
  </ion-list>
</ion-content>

<ion-footer>

  <ion-toolbar>
    <!-- Podemos usar ConfirmationsAlert quando for clicado em um dos níveis   -->
    <ion-segment>
      <ion-segment-button>
        Fácil
      </ion-segment-button>

      <ion-segment-button>
        Médio
      </ion-segment-button>

      <ion-segment-button>
        Dificil
      </ion-segment-button>
    </ion-segment>


  </ion-toolbar>
</ion-footer>